:root {
  --white-color: rgba(255, 255, 255, 1);
  --orang-light-color: #ff6565;
  --bag-margin: 0 auto;
  --bag-padding: 0 32px;
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-family: sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 32px;
}
.main__section {
  display: grid;
  align-items: center;
  position: relative;
}
.main__section::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  justify-self: center;
  background-image: url("./images/headphones_hero_1.jpg");
  z-index: -1;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.main__nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main__nav a {
  color: var(--white-color);
  font-size: 12px;
}
.main__nav a:hover {
  color: var(--orang-light-color);
}
.main__nav a:active {
  color: var(--orang-light-color);
}
.hero_piece {
  margin-top: 280px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.hero_piece-header h1 {
  font-size: 32px;
  color: var(--white-color);
  text-align: center;
}
.hero_piece-header p {
  font-size: 16px;
  color: var(--white-color);
  text-align: center;
}
.hero_piece-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  width: 162px;
  height: 44px;
  border-radius: 22px;
  background-color: var(--orang-light-color);
  color: var(--white-color);
  font-size: 14px;
}
.hero_piece text {
  font-size: 16px;
  color: var(--white-color);
  font-weight: lighter;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 100px;
}
